<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <h3 class="card-header "> Register</h3>
      <%= form_for @user do |f| %>
          <div class="card-block">
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.text_field :email, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>
            </div>
          </div>
          <div class="card-footer text-right" style="text-align: right">
            <%= f.submit "Register", class: 'btn btn-primary' %>
            <%= link_to "Back", root_path, class: 'btn btn-outline-primary' %>
          </div>
      <% end %>
    </div>
  </div>
</div>